<h1 class='mr-l-25'>Recipes</h1>
<%= form_tag recipes_path, class: "form-group mr-l-30", :method => "get" do %>
 <%= label_tag :add_ingredients, "Add ingredients separated by a comma" %>
 <br>
 <%= text_area_tag :ingredients_names, params[:ingredients_names],
  id: 'txt-field',  rows: '5', cols: '100' %>
 <br>

 <%= submit_tag("Search for recipes", :name => nil, class: "btn btn-primary") %>
<% end %>